@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

:root {
  --color-white: #fbfbfe;
}

@keyframes header-scroll {
  from {
    background-position-y: bottom;
    padding-bottom: .5rem;
  }
  to {
    background-position-y: top;
    padding-bottom: 0;
  }
}
