---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <LandingHeader />
  <h1 class="text-4xl m-auto mt-34">No se ha encontrado esta página.</h1>
</Layout>
