---
export const prerender = false;

import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../db/supabase";
import {
  LightGallery,
  type AstroLightGalleryImgType,
} from "astro-lightgallery";

const BUCKET_NAME = "galeria";
const imagesUrl: AstroLightGalleryImgType[] = [];

const { data: dbImages, error } = await supabase.storage
  .from(BUCKET_NAME)
  .list();

if (dbImages) {
  for (const dbImage of dbImages) {
    const { data } = supabase.storage
      .from(BUCKET_NAME)
      .getPublicUrl(dbImage.name);
    imagesUrl.push({ src: data.publicUrl });
  }
}

console.log(error);
---

<Layout>
  <LandingHeader />
  <main>
    <div class="mt-24 flex max-w-2xl xl:max-w-5xl">
      <LightGallery
        layout={{ imgs: imagesUrl, adaptive: { zoom: 130 } }}
        options={{ thumbnail: true }}
      />
    </div>
  </main>
</Layout>
