---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import AboutUsCard from "../components/AboutUsCard.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main class="flex flex-col gap-8">
    <img
      src="local_de_graficonta.webp"
      alt="Fotografía del local de Graficonta"
    />
    <AboutUsCard />
    <CallToAction />
  </main>
  <Footer />
</Layout>
