<div class="mx-auto max-w-4xl">
  <article
    class="flex h-[800px] max-w-4xl flex-col overflow-hidden bg-red-500 text-white md:h-96 md:flex-row">
    <section class="flex flex-1/2 flex-col justify-center p-10">
      <h1 class="mb-4 text-4xl font-bold">
        ¿Quiénes <span class="text-blue-300 underline">somos</span>?
      </h1>
      <p class="mb-12">
        En Graficonta somos una empresa que ofrece servicios de impresión,
        cartelería, serigrafía y contabilidad de los más altos estándares con
        sede en Hohenau, Itapúa, Paraguay.
      </p>
      <a
        href="/nosotros"
        class="size-fit self-center border-4 border-red-800 p-2 transition-all hover:cursor-pointer hover:bg-red-800"
        >MÁS INFORMACIÓN</a
      >
    </section>
    <img
      src="printer.avif"
      alt="Imagen de una impresora"
      class="flex-1/2 object-cover"
    />
  </article>
</div>
