---
import { Image } from "astro:assets";
import background from "../assets/above_the_fold_bg.webp";
import billboard from "../assets/graficonta_billboard.png";
---

<section
  class="relative flex w-full justify-center overflow-hidden md:h-[95vh] md:max-h-[850px] md:min-h-[800px] lg:max-h-[700px] lg:min-h-[650px]">
  <div
    class="mx-10 mt-24 md:mt-14 flex max-w-[1400px] flex-col items-center justify-center gap-10 overflow-hidden md:mx-20 md:flex-row md:gap-20">
    <div class="z-10 flex flex-2 flex-col text-center md:text-start">
      <h1 class="text-5xl">
        Cartelería de <span class="font-bold">calidad</span>,<br />entregada al
        <span class="font-bold">instante</span>
      </h1>
      <p class="mt-4 text-gray-600">
        Somos una gráfica ubicada en Itapúa, Paraguay, enfocados en proveer
        servicios de cartelería, ploteado, microperforado y todo en impresiones
        digitales de alta calidad.
      </p>
      <a
        href="#"
        class="mt-8 block self-center rounded-md bg-blue-700 px-8 py-4 text-center text-lg font-bold text-white shadow-md hover:bg-blue-800">
        Solicitá tu presupuesto
      </a>
    </div>
    <div class="z-10 flex-3 self-end lg:self-start">
      <Image
        src={billboard}
        alt="Cartel rutero con el logo de Graficonta"
        quality="high"
        priority
      />
    </div>
  </div>
  <Image
    src={background}
    alt="Imagen de fondo"
    class="absolute z-0 size-full object-cover"
  />
</section>
