---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Graficonta | Cartelería y Contabilidad</title>
  </head>
  <body class="bg-white text-gray-900">
    <slot />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"
    ></script>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

  html,
  body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
  }
</style>
